@model IEnumerable<CoolEvents_GraduationProject.Models.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Add new ticket</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Date)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TicketId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TicketId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TicketId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>